*{margin:0;padding:0;}
	ul,li{list-style: none;}
	.doaa2{padding-top: 10px; padding-bottom: 20px;clear: both;}
    .doaaSource {float: left !important;}
	body{
        font:normal 14px/1.5 "Arial","Lucida Grande",Verdana,"Microsoft YaHei","hei"; }
@media only screen
 and (min-device-width : 320px) 
 and (max-device-width : 480px) {
 .tab-links a {font-size: 10px;font-weight: 600;}
	.increase, .decrease{height: 10.1%;}
 
 }
	.cui-tab{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		height:43px;
		line-height:43px;
		border-bottom:#2bbdbc 1px solid;
		background-color: #fafafa;
		color:#666;
		font-size: 15px;
		position: fixed;
		width: 100%;
		z-index:100;
	}
	.cui-tab label{
		text-align: center;
		-webkit-box-flex: 1;
		-moz-box-flex: 1; 
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display:block;
		position: relative;
		margin: 1% 0;
		font-weight: bold;
	}
	.cui-tab label:nth-of-type(2)::after{
		position: absolute;
		left:0;
		content:"";
		height: 4px;
		top:101%;
		width:100%;
		background-color: #2bbdbc;
		 transition: all 100ms;
     	-webkit-transition:-webkit-transform 100ms ease-in-out;
		-moz-transition:-webkit-transform 100ms ease-in-out;
		-ms-transition:-webkit-transform 100ms ease-in-out;
		-o-transition:-webkit-transform 100ms ease-in-out;
	}
	.cui-tab input{display:none;}
	.cui-tab input:nth-of-type(1):checked ~ label:nth-of-type(1) ,.cui-tab input:nth-of-type(2):checked ~ label:nth-of-type(2) ,.cui-tab input:nth-of-type(3):checked ~ label:nth-of-type(3) {color:#2bbdbc;}
	.cui-tab input:nth-of-type(1):checked ~ label:nth-of-type(2)::after{
		-webkit-transform:translateX(-100%);
		-moz-transform:translateX(-100%);
		-ms-transform:translateX(-100%);
		-o-transform:translateX(-100%);
		transform:translateX(-100%);
	}
	.cui-tab input:nth-of-type(2):checked ~ label:nth-of-type(2)::after{
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-ms-transform:translateX(0);
		-o-transform:translateX(0);
		transform:translateX(0%);
	}
	.cui-tab input:nth-of-type(3):checked ~ label:nth-of-type(2)::after{
		-webkit-transform:translateX(100%);
		-moz-transform:translateX(100%);
		-ms-transform:translateX(100%);
		-o-transform:translateX(100%);
		transform:translateX(100%);
	}
	
	/*********TABS********/
	/*.tab-content{position: absolute;top: 15%;width:100%}*/
	    label:nth-of-type(2){ border-left:1px solid #ccc; border-right:1px solid #ccc}
		#tab1 { display:none}
		.main_title{ color:#f07d51; font-size:18px; font-weight:bold;}
		.sub_title{ color:#a9b353; font-size:16px; font-weight:bold;}
		.number{color:#f07d51; float:right; font-weight:bold; margin-left:2%;font-size:16px;}
		.mansak{ font-size:14px; color:#666 !important;}
		.doaa{color:#f07d51;}
		.image{ margin-left:auto; margin-right:auto;width: 82%;}
		.image2{ width:33.9%; margin-right:auto; margin-left:10%; margin-left:auto; margin-bottom:1%}
		.image3{ width:70.6%; margin-right:auto; margin-left:auto;}
		
		.image4{ width:77.8%; margin-right:auto; margin-left:auto;}
		.image5{ width:46.8%; margin-right:auto; margin-left:auto}
		.image6{ width:47.3%; margin-right:auto; margin-left:auto}
		
		.image img, .image2 img, .image3 img, .image4 img, .image5 img, .image6 img{ width:100%;}
		.no_float{ float:none;margin-right: 10%; margin-left:auto}
		/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
	
	.tab-links{ border-bottom:1px solid #2bbdbc;position: fixed;width: 100%;z-index: 100;background-color: #fff;top: 0;}
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        float:right;
        list-style:none;width: 49.8%;
		text-align: center;
    }
	
	 .tab-links3 li {
        list-style:none;width:33.1%;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:13px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s; text-decoration:none;
        }
 
        .tab-links a:hover {
           
        }
 
    li.active a, li.active a:hover {
       color:#2bbdbc;
	   
    }
	li.active{border-bottom:4px solid #2bbdbc}
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding: 0 15px;
        border-radius:3px;
       
        background:#fff;
		/****** box-shadow:-1px 1px 1px rgba(0,0,0,0.15);******/
		height: 88%;
		position: absolute;
		width: 89%;
		top: 9%;
    }
 
        .tab {
            display:none; text-align:right; position:absolute; top:10%; padding: 0 3% 0 9%;width: 83%;margin-bottom: 30%;
        }
 
        .tab.active {
            display:block;
        }
	/********************************Increase and decrease************************/
	.increase, .decrease{width: 10.65%;height: 9.1%; background-repeat:no-repeat;position:fixed; left:0; background-size:93.75% 46.5%; background-position:center center ; border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0; -o-border-radius:0 5px 5px 0;}
	.increase{ background-image:url(../imgs/inner2_04.png);top: 30%; background-color:#f6b446}
	.decrease{ background-image:url(../imgs/9_04.png);top: 17%; background-color:#26b1ae}
	.border_left{ border-left:1px solid #CCC;}
	.zamzam_ibrahim{position: relative;
top: 15px;
margin-bottom: 5%;}