@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; direction:rtl}
.container{position:absolute; top:0; right:5.5%; width:89%;height:75.9%;}
.image{ width:100%; height:36.6%; background-size:100% 100%;top: 4%;position: relative;}
.social_bar{ width:100%; background-color:#858585; height:7.8%;top: 4.5%;position: relative;}
.date{width: 31.4%;float: right;text-align: right;background-color: #fff;height: 40%;padding: 1%;top: 20%;position: relative;direction: rtl; font-size:12px; line-height:100%}
.icon{width: 10.5%;height: 142.9%;background-size: 100% 100%;background-repeat: no-repeat;float: left;margin-left: 1.5%;margin-top: -1.5%;}
.increase{background-image:url(../images/attachment.png)}
.decrease{ background-image:url(../images/a-.png)}
.facebook{ background-image:url(../images/face.png)}
.twitter{ background-image:url(../images/twitter.png)}
.send{ background-image:url(../images/mail.png)}
.header{ color:#27b9b8; font-size:18px;position: relative;top: 4%;font-weight: bold; margin-bottom:7%;}
.paragraph{ color:#000; font-size:16px;position: relative;top: 3%; margin-bottom:10%;}